.breadcrumbs {
    margin: 20px 0 23px;
    &__list {
        &-item {
            display: inline-block;
            padding-right: 14px;
            margin-right: 7px;
            position: relative;
            text-decoration: underline;
            color: #000000;
            &::after {
                content: '/';
                position: absolute;
                right: 0;
                width: 7px;
                height: 23px;
            }
            &:last-child {
                font-weight: 300;
                text-decoration: none;
            }
            &:last-child::after {
                display: none;
            }
        }
    }
}