.footer {
    &__top {
        &-inner {
            display: flex;
            justify-content: space-around;
            padding-top: 36px;
            border-top: 1px solid #D8D8D8;;
        }
    }
    &__delivery-descr {
        margin-bottom: 30px;
    }
    &__work-descr {
        margin-bottom: 30px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 30px;
        color: #616161;
    }
    &__descr {
        font-weight: 700;
        color: #5F5F5F;
    }
    &__descrip {
        font-size: 18px;
        line-height: 160%;
        color: #5F5F5F;
    }
    &__margin-bottom {
        margin-bottom: 20px;
    }
}